@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

strong {
	color: #eb5b37;
	font-weight: bold;
}

body {
	font-family: 'Nunito', "Helvetica Neue", sans-serif;
	color: #333;
	padding-bottom: 100px;
}
#logo {
	padding-top: 60px;
}

h1, h2, h4 {
	font-weight: 700;
}

h3 {
	padding-top: 20px;
	font-weight: 900;
}

li {
	padding-bottom: 5px;
}

a {
	color: #00acee;
	font-weight: 700;
}

.follow {
	font-size: 1.6em;
}